server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/job-kueue-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: worker-group
    properties:
      trusted.packages: org.example.common.dto